@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.font-inter {
    font-family: "Inter", sans-serif;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
}

.kbd{
    margin: 1rem;
    background-color: #F7F8F8;
    color: #03071280;
    border: none;
    width: 90px;
    height: 50px;
}

/* .serial{
    margin-right: 1rem;
} */

/* .m-2{
    margin-right: 2rem;
} */